<!DOCTYPE html>
<html 
    xmlns:th="http://www.thymeleaf.org" 
    th:replace="~{layout/template::layout(~{::title},~{::body/content()})}">
<head>
    <title>InvenTrack</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
	<div class="card shadow mb-4">
    	<div class="card-header py-3">
        	<h6 class="m-0 font-weight-bold text-primary">部品在庫一覧 登録画面</h6>
    	</div>

			<div class="card-body">		
			<!-- エラーメッセージの表示-->
			<div th:if="${not #strings.isEmpty(errorMsg)}" class="text-danger">
			<p th:utext="${errorMsg}"></p>
			</div>

			<!-- 登録フォーム-->
			<form id="updateForm" method="post" th:action="@{'/admin/stockList/register'}"
				th:object="${partsInfoForm}">	


				<table class="table table-bordered">
					<thead>
						<tr>
							<th colspan="2">＊必須項目</th>
						</tr>
					</thead>				
					<tbody>
						<!-- 部品カテゴリー名 -->
						<tr>
							<td>カテゴリー ＊</td>
							<td>
								<select id="categoryId" th:field="*{categoryId}" class="form-control mr-2" required>
								    <option value="">▼ カテゴリーを選択</option>
									<th:block th:each="category : ${categoryList}">
										<option th:value="${category.categoryId}" th:text="${category.categoryName}" th:selected="${category.categoryId} == *{categoryId}"></option>
									</th:block>
								</select>
							</td>
						</tr>
						<tr>
							<td>名称 ＊</td>
							<td>
								<input type="text" name="stockName" th:field="*{stockName}" class="form-control"
									maxlength="20" required>
								<span class="text-danger error-message" id="error-stockName"></span>
							</td>
						</tr>	
						<tr>
							<td>在庫センター ＊</td>
							<td>
								<select id="centerId" th:field="*{centerId}" class="form-control mr-2" required>
								    <option value="">▼ 在庫センターを選択</option>
									<th:block th:each="center : ${centerInfoList}">
										<option th:value="${center.centerId}" th:text="${center.centerName}" th:selected="${center.centerId} == *{centerId}"></option>
									</th:block>
								</select>
							</td>
						</tr>	
						<tr>
							<td>説明</td>
							<td>
								<input type="text" name="stockDescription" th:field="*{stockDescription}" class="form-control"
									maxlength="100">
								<span class="text-danger error-message" id="error-stockDescription"></span>
							</td>
						</tr>	
						<tr>
							<td>個数 ＊</td>
							<td>
								<input type="text" name="stockAmounts" th:field="*{stockAmounts}" class="form-control"
									maxlength="4" required>
								<span class="text-danger error-message" id="error-stockAmounts"></span>
							</td>
						</tr>
					</tbody>
				</table>		
			
				<!-- ボタンエリア -->
				<div class="d-flex justify-content-between mt-4">
					<!-- キャンセルボタン -->
					<button type="button" class="btn btn-secondary" onclick="goBack()">キャンセル</button>

					<!-- 登録ボタン -->
					<input type="hidden" name="confirmFlag" id="confirmFlag" value="false">
					<button id="registerBtn" class="btn btn-success ml-2">登録</button>
				</div>
			</form>
			
			</div>
			
		</div>

		<!-- JavaScriptファイルを読み込む -->
			<script th:src="@{/js/page-action.js}"></script>

		
</body>
</html>