<!DOCTYPE html>
<html 
    xmlns:th="http://www.thymeleaf.org" 
    th:replace="~{layout/template::layout(~{::title},~{::body/content()})}">
<head>
    <title>InvenTrack</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">部品在庫一覧</h6>
    </div>
    <div class="card-body">

		<!-- 検索フォーム -->
		<div class="search-container">
		  <form th:object="${stockListSearchForm}" class="form-inline" method="get" th:action="@{'/admin/stockList/search'}">
		    <label for="searchTerm" class="mr-2 search-label">検索条件</label>
		    <label for="categoryId" class="mr-2">カテゴリー</label>
			<select id="categoryId" th:field="*{categoryId}" class="form-control mr-2">
			    <option value="">すべて</option>
			    <option th:each="category : ${categoryList}"
			            th:value="${category.categoryId}"
			            th:text="${category.categoryName}">
			    </option>
			</select>
			<label for="stockName" class="mr-2">名称</label>
			<input type="text" id="stockName" th:field="*{stockName}" class="form-control mr-2" maxlength="20">
			<label for="stockAmount" class="mr-2">個数</label>
			<input type="text" id="stockAmount" th:field="*{stockAmount}" class="form-control mr-2" maxlength="5">
			<select id="comparisonType" th:field="*{comparisonType}" class="form-control mr-2">
				<option value="eq">一致</option>
				<option value="ge">以上</option>
			    <option value="le">以下</option>
			</select>
			<input type="hidden" name="deleteFlag" value="0">			
		    <button type="submit" class="btn btn-primary">検索</button>
		  </form>
		  <!-- エラーメッセージの表示 -->
		  	<div th:if="${not #strings.isEmpty(errorMsg)}" class="text-danger">
		    	  <p th:utext="${errorMsg}"></p>
		  	</div>
		  	<!-- 成功メッセージの表示 -->
		  	<div th:if="${not #strings.isEmpty(successMsg)}" class="text-info">
		      	  <p th:utext="${successMsg}"></p>
		  	</div>	  
		</div>				
		</br>
		        <!-- 部品在庫一覧テーブル -->
		        <div class="table-responsive">
		            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
		                <thead>
		                    <tr>
		                        <th>カテゴリー</th>
								<th>名称</th>
								<th>個数</th>
								<th>保管場所</th>
								<th>説明</th>
		                    </tr>
		                </thead>
						<tbody>
							<tr th:each="item : ${stockList}">
								  <td>
								  	<a th:href="@{/admin/partsCategory/update/{categoryId}(categoryId=${item.categoryId})}" th:text="${categoryMap[item.categoryId]}"></a>
								  </td>
								  <td>
								  	<a th:href="@{/admin/stockList/update/{stockId}(stockId=${item.stockId})}" th:text="${item.stockName}"></a>
								  </td>
								  <td th:text="${item.amountValue}"></td>
								  <td th:text="${centerMap[item.centerId]}">センター名</td>
								  <td th:text="${item.description}"></td>
						    </tr>
						</tbody>
		            </table>
					
					<form id="registerForm" method="get" th:action="@{'/admin/stockList/register'}">
						<div class="d-flex justify-content-end mt-4">  <!-- 右寄せ -->
						    <button id="registerBtn" type="submit" class="btn btn-success ml-2">登録</button>
						</div>
					</form>
		       </div>	
		    </div>
		</div>

</body>
</html>
